@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


/* Below set of styles are for table*/
#degreeTable {
    width: 50%;
    display: none;
    margin-top: 1rem;
    
}
th {
    background: #6b7205;
    font-weight: bold;
    color: white;
    padding: 6px;
}
td {
    background: #f9f9f9;
    padding: 6px;
}

/*Header style*/
h1{
    text-align: center;
}

p{

    font-weight: bold;
    font-size: 1.5rem;
}

/*Style for main page content*/
#container{
    border-radius: 1rem;
    background:#eaebb3;
    border: 1px solid;
    padding-bottom: 1rem;
    padding-left: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;

   
}

body{
    font-family:  'Poppins', sans-serif;
}

/*Button style*/
#display{
    font-weight: bold;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}